extends layout 
block content 
    br
    br

    .h1 About
    br
    br
    .p
        | Our Royal Restaurant provides you hot and hygenic food within 15 minutes. We also provides wifi facilities.We have A-class who can make food very tasty. We also have offers such as 25% offer.
        | We also provide online food delivery service.